src/main/resources/wsdl/AddressBook.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://oracle.e1.bssv.JP010000/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://oracle.e1.bssv.JP010000/" name="AddressBookManagerService">
<wsp:UsingPolicy wssutil:Required="true"/>
<wsp1_2:Policy wssutil:Id="bssvpolicy">
<ns1:TransportBinding xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
<wsp1_2:Policy>
<ns1:TransportToken>
<wsp1_2:Policy>
<ns1:HttpsToken/>
</wsp1_2:Policy>
</ns1:TransportToken>
<ns1:AlgorithmSuite>
<wsp1_2:Policy>
<ns1:Basic256/>
</wsp1_2:Policy>
</ns1:AlgorithmSuite>
<ns1:Layout>
<wsp1_2:Policy>
<ns1:Lax/>
</wsp1_2:Policy>
</ns1:Layout>
</wsp1_2:Policy>
</ns1:TransportBinding>
<ns2:SupportingTokens xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
<wsp1_2:Policy>
<ns2:UsernameToken ns2:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp1_2:Policy>
<ns2:WssUsernameToken10/>
</wsp1_2:Policy>
</ns2:UsernameToken>
</wsp1_2:Policy>
</ns2:SupportingTokens>
</wsp1_2:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://oracle.e1.bssv.JP010000/" schemaLocation="AddressBook.xsd"/>
</xsd:schema>
</types>
<message name="processContact">
<part name="processContact" element="tns:processContact"/>
</message>
<message name="processContactResponse">
<part name="processContactResponse" element="tns:processContactResponse"/>
</message>
<message name="BusinessServiceException">
<part name="fault" element="tns:BusinessServiceException"/>
</message>
<message name="processAddressBook">
<part name="processAddressBook" element="tns:processAddressBook"/>
</message>
<message name="processAddressBookResponse">
<part name="processAddressBookResponse" element="tns:processAddressBookResponse"/>
</message>
<message name="processAddressBookV2">
<part name="processAddressBookV2" element="tns:processAddressBookV2"/>
</message>
<message name="processAddressBookV2Response">
<part name="processAddressBookV2Response" element="tns:processAddressBookV2Response"/>
</message>
<message name="getContact">
<part name="getContact" element="tns:getContact"/>
</message>
<message name="getContactResponse">
<part name="getContactResponse" element="tns:getContactResponse"/>
</message>
<message name="getContactV2">
<part name="getContactV2" element="tns:getContactV2"/>
</message>
<message name="getContactV2Response">
<part name="getContactV2Response" element="tns:getContactV2Response"/>
</message>
<message name="getAddressBookV2">
<part name="getAddressBookV2" element="tns:getAddressBookV2"/>
</message>
<message name="getAddressBookV2Response">
<part name="getAddressBookV2Response" element="tns:getAddressBookV2Response"/>
</message>
<message name="lookupAddressBook">
<part name="lookupAddressBook" element="tns:lookupAddressBook"/>
</message>
<message name="lookupAddressBookResponse">
<part name="lookupAddressBookResponse" element="tns:lookupAddressBookResponse"/>
</message>
<message name="getAddressBook">
<part name="getAddressBook" element="tns:getAddressBook"/>
</message>
<message name="getAddressBookResponse">
<part name="getAddressBookResponse" element="tns:getAddressBookResponse"/>
</message>
<portType name="AddressBookManager">
<operation name="processContact">
<input wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/processContactRequest" message="tns:processContact"/>
<output wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/processContactResponse" message="tns:processContactResponse"/>
<fault message="tns:BusinessServiceException" name="BusinessServiceException" wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/processContact/Fault/BusinessServiceException"/>
</operation>
<operation name="processAddressBook">
<input wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/processAddressBookRequest" message="tns:processAddressBook"/>
<output wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/processAddressBookResponse" message="tns:processAddressBookResponse"/>
<fault message="tns:BusinessServiceException" name="BusinessServiceException" wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/processAddressBook/Fault/BusinessServiceException"/>
</operation>
<operation name="processAddressBookV2">
<input wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/processAddressBookV2Request" message="tns:processAddressBookV2"/>
<output wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/processAddressBookV2Response" message="tns:processAddressBookV2Response"/>
<fault message="tns:BusinessServiceException" name="BusinessServiceException" wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/processAddressBookV2/Fault/BusinessServiceException"/>
</operation>
<operation name="getContact">
<input wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/getContactRequest" message="tns:getContact"/>
<output wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/getContactResponse" message="tns:getContactResponse"/>
<fault message="tns:BusinessServiceException" name="BusinessServiceException" wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/getContact/Fault/BusinessServiceException"/>
</operation>
<operation name="getContactV2">
<input wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/getContactV2Request" message="tns:getContactV2"/>
<output wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/getContactV2Response" message="tns:getContactV2Response"/>
<fault message="tns:BusinessServiceException" name="BusinessServiceException" wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/getContactV2/Fault/BusinessServiceException"/>
</operation>
<operation name="getAddressBookV2">
<input wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/getAddressBookV2Request" message="tns:getAddressBookV2"/>
<output wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/getAddressBookV2Response" message="tns:getAddressBookV2Response"/>
<fault message="tns:BusinessServiceException" name="BusinessServiceException" wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/getAddressBookV2/Fault/BusinessServiceException"/>
</operation>
<operation name="lookupAddressBook">
<input wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/lookupAddressBookRequest" message="tns:lookupAddressBook"/>
<output wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/lookupAddressBookResponse" message="tns:lookupAddressBookResponse"/>
<fault message="tns:BusinessServiceException" name="BusinessServiceException" wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/lookupAddressBook/Fault/BusinessServiceException"/>
</operation>
<operation name="getAddressBook">
<input wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/getAddressBookRequest" message="tns:getAddressBook"/>
<output wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/getAddressBookResponse" message="tns:getAddressBookResponse"/>
<fault message="tns:BusinessServiceException" name="BusinessServiceException" wsam:Action="http://oracle.e1.bssv.JP010000/AddressBookManager/getAddressBook/Fault/BusinessServiceException"/>
</operation>
</portType>
<binding name="AddressBookManagerPortBinding" type="tns:AddressBookManager">
<wsp:PolicyReference URI="#bssvpolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="processContact">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessServiceException">
<soap:fault name="BusinessServiceException" use="literal"/>
</fault>
</operation>
<operation name="processAddressBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessServiceException">
<soap:fault name="BusinessServiceException" use="literal"/>
</fault>
</operation>
<operation name="processAddressBookV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessServiceException">
<soap:fault name="BusinessServiceException" use="literal"/>
</fault>
</operation>
<operation name="getContact">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessServiceException">
<soap:fault name="BusinessServiceException" use="literal"/>
</fault>
</operation>
<operation name="getContactV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessServiceException">
<soap:fault name="BusinessServiceException" use="literal"/>
</fault>
</operation>
<operation name="getAddressBookV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessServiceException">
<soap:fault name="BusinessServiceException" use="literal"/>
</fault>
</operation>
<operation name="lookupAddressBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessServiceException">
<soap:fault name="BusinessServiceException" use="literal"/>
</fault>
</operation>
<operation name="getAddressBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessServiceException">
<soap:fault name="BusinessServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AddressBookManagerService">
<port name="AddressBookManagerPort" binding="tns:AddressBookManagerPortBinding">
<soap:address location="https://lasdv-jdeas-1.super.nap:8002/DV920/AddressBookManager"/>
</port>
</service>
</definitions>